<div class="error-wrapper">
  <div class="error">
    <span class="error__message error__404">404</span>
    <span class="error__message">Sorry but the page that you are looking for does not exist.</span>
    <span class="error__message error__txt">Please go to:</span>
    <ul class="error__message error__menu">
      <li><a routerLink='/dashboard'>{{'Dashboard' | translate}}</a></li>
      <li><a routerLink='/parameter-list'>{{"Parameter List" | translate}}</a></li>
      <li><a routerLink='/event-history'>{{"Event History" | translate}}</a></li>
      <li><a routerLink='/edit-network'>{{"Edit Network" | translate}}</a></li>
    </ul>
  </div>
</div>
