@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '../../variables';
@import '../../smart-grid';

:host {
  display: block;
}

.status {
  padding: 16px 20px;
  height: 100%;
  position: relative;

  &__title {
    font-family:'corpid-heavy', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $ult-blue-80;
    width: 50%;
    margin-right: 5px;

    &--red {
      color: $red;
    }

    &--blue {
      color: $blue;
    }

    &--green {
      color: $green;
    }

    &--yellow {
      color: $yellow;
    }
  }

  &__warning {
    font-family:'corpid-reg', sans-serif;
    font-size: 8pt;
    color: $ult-blue-100;
    border-top: 1px solid $ult-blue-40;
    width: 45%;
    margin-right: 5px;
    position: absolute;
    bottom: 10px;
    padding-top: 2px;
  }

  &__diagramm {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    transform-origin: top right;
  }
}


#svg circle {
  transition: stroke-dashoffset 1s linear;
  stroke-width: 9;
}
