// colors

$ult-blue-100: #004487;
$ult-blue-80: #33699f;
$ult-blue-40: #99b4cf;
$ult-blue-30: #b3c7db;
$ult-blue-20: #ccdae7;
$ult-blue-15: #d8e2ec;
$ult-blue-10: #e5ecf2;

$green: #00d350;
$yellow: #efb800;
$red: #db2244;
$blue: #00a4f3;
