@import '~bourbon/app/assets/stylesheets/_bourbon';
@import 'variables';
@import 'smart-grid';

:host {
  @include position(absolute, 0 0 0 0);
    display: flex;
    flex-direction: column;
}

.container-outer {
  display: flex;
  flex: 1 1 auto;
}

.container-inner {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
}
